out/
*.class
.idea/
*.iml
__pycache__/
*.pyc
python/learning/
python/proyectos/
java/learning/
assembler/
**build/
**bin/
*.o
*.out
data/
practicas*/
.DS_Store
audios/
large/
small/
*.ttf
requirements.txt
imgs/
